# When someone opens a pull request that only
# modifies the files specified below, notification will
# be sent to owner(s) for a review.


/src/CTA.Rules.PortCore/SolutionPort.cs @marknfawaz @flywanli
/src/CTA.Rules.PortCore/ProjectPort.cs @marknfawaz @flywanli
/src/CTA.Rules.PortCore/Program.cs @marknfawaz @flywanli
/src/CTA.Rules.PortCore/ @marknfawaz @flywanli
/src/CTA.Rules.Models/SolutionResult.cs @marknfawaz @flywanli
/src/CTA.Rules.Models/ProjectActions.cs @marknfawaz @flywanli
/src/CTA.Rules.Models/ProjectResult.cs @marknfawaz @flywanli
/src/CTA.Rules.Models/PortCoreConfiguration.cs @marknfawaz @flywanli
/src/CTA.Rules.Models/PortSolutionResult.cs @marknfawaz @flywanli
/src/CTA.Rules.Update/SolutionRewriter.cs @marknfawaz @flywanli

